<div class="card w-75">
    <div class="card-body">
        <h3>Task Information</h3>
        <h4>{{task?.taskName}}</h4>
        <!-- The ? allows for it to be defined later, as the http response may be delayed, hence the default assignment in the component to also undefined -->

        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Task Name</span>
                        <input type="text" class="form-control" placeholder={{task?.taskName}} aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Due Date</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Priority Level</span>
                        <input type="text" class="form-control" placeholder={{task?.priorityLevel}} aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Status</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>


                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Task Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div class="container">
                    <div class="row row-cols-auto">
                        <div class="col">
                            <button type="button" class="btn btn-light" (click)="onBack()">Back</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>