<div class="container">
  <!-- Form Group -->
  <form novalidate (ngSubmit)="addTask()" [formGroup]="taskInputForm">
    <!-- Add Task -->
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Add task:</span
        >
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Add a task here"
          formControlName="taskName"
          [ngClass]="{ 'is-invalid': inputErrorMessage.taskName }"
        />
        <span class="invalid-feedback">{{ inputErrorMessage.taskName }}</span>
      </div>
    </div>

    <!-- 1/3 columns -->
    <div class="row row-cols-auto">
      <!-- Due Date -->
      <div class="col">
        <input
          type="date"
          class="form-control"
          formControlName="dueDate"
          [ngClass]="{ 'is-invalid': inputErrorMessage.dueDate }"
        />
        <span class="invalid-feedback">{{ inputErrorMessage.dueDate }}</span>
      </div>

      <!-- Priority Level-->
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Add task:</span
          >
          <input
            type="number"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            placeholder="Add priority level here"
            formControlName="priorityLevel"
            min="1"
            max="5"
            [ngClass]="{ 'is-invalid': inputErrorMessage.taskName }"
          />
          <span class="invalid-feedback">{{ inputErrorMessage.priority }}</span>
        </div>
      </div>

      <!-- Submit -->
      <div class="col">
        <button
          type="submit"
          class="btn btn-primary"
          [title]="
            taskInputForm.valid
              ? 'Save your entered data'
              : 'Disabled until the form data is valid'
          "
          [disabled]="!taskInputForm.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
  <br />
</div>
