<div class="card w-75">
    <div class="card-body">
      <h2>Welcome to this Prioritisation App!</h2>
      <p>This is just some placeholder text. Eventually I will add some explanations on features here.</p>
      <h3>App Instructions</h3>
      <p>Some instructions on structure of app.</p>
      <h3>Features and Technologies used</h3>
      <ul>
        <li>Angular</li>
        <ul>
          <li>In Memory Web Api</li>
        </ul>
        <li>Bootstrap</li>
        <li>RxJs</li>
        <li>NgRx</li>
      </ul>
    </div>
  </div>