<div class="card w-75">
  <div class="card-body">
    <h3>To Do List:</h3>

    <app-add-task></app-add-task>

    <!-- Priority Filter -->
    <div class="container">
      <div class="row row-cols-auto">
        <div class="col"><h4>Filter:</h4></div>
        <div class="col">
          <select
            class="form-select"
            aria-label="Default select example"
            (change)="onFilterSelected($any($event.target).value)"
          >
            <option value="" selected>– Priority Filter –</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>

      <!-- Task Table -->
      <table class="table" *ngIf="tasks$ | async as tasks">
        <thead>
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Due Date</th>
            <th scope="col">Priority</th>
            <th scope="col">Done</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>
              <a [routerLink]="['/tasks', task.id]">
                {{ task.taskName }}
              </a>
            </td>
            <td>{{ task.dueDate }}</td>
            <td>{{ task.priorityLevel }}</td>

            <!-- Completed status TODO: FIGURE THIS OUT-->
            <td>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  (change)="checkChanged()"
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage$ | async as errorMessage">
    {{ errorMessage }}
  </div>
</div>
